{% extends "base.html" %}
{% block content %}
<div id="faq-page">
    <div id="faq">
        <h2>LadyNerds Member F.A.Q.</h2>

            <span class="question">Where can I find out about LadyNerds events?</span>
            <p>
                <!-- FIXME: Add link to google calendar -->
                We have a Google calendar with upcoming events. Members are always welcome 
                (and encouraged!) to plan events and add them to the calendar. In addition,
                many events are posted to the #events Slack channel.
            </p>

            <span class="question">How do I add events to the calendar?</span>
            <p>
                <!-- FIXME: Add link to calender usage instructions -->
                The easiest way to add events to the calendar is to create an event on your google
                calendar and then add hackbrightladynerds@gmail.com as a guest to that event.
                For more detailed information see the <i>LadyNerds shared calendar usage instructions</i>
                document in the LadyNerds google drive.

            <span class="question">Do you have a code of conduct?</span>
            <p>
                <!-- FIXME: Add link to COC -->
                We do! All members who participate in LadyNerds agree to abide by our code.
            </p>

            <span class="question">Someone is violating the code of conduct -- what should I do?</span>
            <p>
                On Slack, if you type "moderator please" a slackbot will alert the moderators.
                You may also alert the moderators via DM.  If a COC violation occurs on the listserve
                you can either contact the moderators through Slack, or by emailing them.  
            </p>
    </div>
</div>
{% endblock %}
