{% extends "base.html" %}
{% block content %}
<div id="about-page">
    <h2>About</h2>
    <div id="intro">
        <p>
            Welcome to Lady Nerds! We are a professional network of over two hundred women 
            in technology in the Bay Area and beyond. Our members are alumnae of the Hackbright 
            Academy fellowship in software engineering, although Lady Nerds as an organization is 
            not affiliated with Hackbright.
        </p>
    </div>
    <div id="mission">
        <p>
            Our mission is to empower women in technology through continued career development, 
            enriching connections, and responsible representation.  We strive to be a community-driven 
            support system for those with the shared experience of completing Hackbright or otherwise 
            equivalent program.
        </p>
    </div>

        <div id="faq">
        <h2>Frequently asked questions</h2>
        <b>I’m a Hackbright alumnae. How do I join Lady Nerds?</b>
        <p>
        [actually what is the answer? Email Michelle to get added to the Google group / Slack? ]
        </p>

        <b>How can I get more involved with Lady Nerds?</b>
        <p>
        Our Slack community has over 200 members, is a forum for a wide range of conversations, 
        both technical and not, and is a great way to get to know other Lady Nerds. There are channels 
        for a wide variety of interests: arts/crafts, career help, events, fashion, food, housing, 
        jobs, mental health, non-tech books, privilege, tech help, travel, and more.

        We hold regular board meetings and all members are welcome to attend. For details 
        about upcoming meetings, watch for announcements on the Lady Nerds email list, or 
        join the boardmtngs_classreps Slack channel.
        </p>

        <b>Where can I find out about Lady Nerds events?</b>
        <p>
        We have a Google calendar with upcoming events [link]. Members are always welcome 
        (and encouraged!) to plan events and add them to the calendar.
        </p>

        <b>Do you have a code of conduct?</b>
        <p>
        We do!  [link] All members who participate in Lady Nerds agree to abide by our code.
        </p>

        <b>Someone is violating the code of conduct -- what should I do?</b>
        <p>
        Please raise concerns with Slack forum moderators (via DM or by typing “moderator please” 
        to alert them via Slackbot) or your class reps.
        </p>
    </div>
</div>
{% endblock %}
