<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Lady Nerds</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
 </head>
 <body>
    <header>
        <div class="headercontainer"> 
            <span id="header">Header</span>
            <div id="container"> </div>
            <ul id="nav">
            {% if not user.is_authenticated %}
                <li><a href={% url 'django.contrib.auth.views.login' %}>Login</a></li>
                <li><a href={% url 'index' %}>About</a></li>
            {% endif %}
                <li><a href={% url 'contact' %}>Contact Us</a></li>
                <li><a href={% url 'code_of_conduct' %}>Code of Conduct</a></li>
                <li><a href={% url 'twitter_feed' %}>Twitter</a></li>
            {% if user.is_authenticated %}
                <li><a href={% url 'profile' %}>Edit Profile</a></li>
                <li><a href='#'>LadyNerds</a>
                  <ul>
                      <li><a href={% url 'ladynerds' %}>LadyNerd Profiles</a></li>
                      <li><a href={% url 'twitter_feed' %}>TwitterFeed</a></li>
                  </ul>
                </li>
                <!-- <li><a href="#">Slack</a></li> -->
                <li><a href={% url 'resources' %}>Resources</a>
                  <ul>
                    <li><a href={% url 'open_source' %}>Open Source</a></li>
                  </ul>
                </li>
                <li><a href={% url 'calendar' %}>Calendar</a>
            {% endif %}
            </ul>
          </div>
        </div>
      </header>
      <div class="block-content">
          {% block content %}
          {% endblock %}
      </div>
  </body>
</html>