<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
 </head>
 <body>
    <header>
        <div class="headercontainer"> 
            <span id="header">Header</span>
            <div id="container"> 
            </div>
        </div>
          <div id="wrap">
            <ul id="nav">
          
              </li>
                <ul>
                </ul> 
              </li>
            </ul>
          </div>
        </div>
      </header>
          {% block content %}
          {% endblock %}
        </div>
   </div>
  </body>
</html>