<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
 </head>
 <body>
    <header>
        <div class="headercontainer"> 
            <span id="header">Header</span>
            <div id="container"> </div>
            <ul id="nav">
                <li><a href={% url 'django.contrib.auth.views.login' %}>Login</a></li>
            {% if user.is_authenticated %}
                <li><a href={% url 'logout' %}>Logout</a></li>
                <li><a href=""></a></li>
                <li><a href={% url 'profile' %}>Edit Your Profile</a>
                </li>
                <li><a href="">Ladynerds</a></li>
                <li><a href="">LN Calendar</a></li>
                <li><a href="#">Slack</a>
                </li>
                </li>          
            {% endif %}
              <li><a href={% url 'about' %}>About Ladynerds</a>
              <li><a href="#">Resources</a>
              </li>
                <ul>
                </ul> 
              </li>
            </ul>
          </div>
        </div>
      </header>
          {% block content %}
          {% endblock %}
        </div>
   </div>
  </body>
</html>