{% extends "base.html" %}
{% block content %}

  <h1>LadyNerds Mission and Code of Conduct</h1>
  <p>Last modified: 29 March 2016</p>

  <h2>Mission</h2>
<p>Empower women and gender non-conforming individuals in technology through continued career development, enriching
connections, and responsible representation. Be a community-driven support system for those with the shared experience
of completing Hackbright.</p>

  <h2>Short Form Code of Conduct</h2>
  <p>LadyNerds is dedicated to providing a safe, inclusive, welcoming, and harassment-free space and experience for all
members and guests, regardless of gender identity and expression, sexual orientation, disability, physical appearance,
socioeconomic status, body size, ethnicity, nationality, level of experience, age, or religion (or lack thereof). Our
Code of Conduct exists because of that dedication. We do not tolerate harassment in any form and we prioritize
marginalized people’s safety over privileged people’s comfort. Our full Code of Conduct can be found <a href="https://docs.google.com/document/d/1QPkjE6eA6QLkjoBWRwVLU1p2csd3midxMPZwTkGn2wg/edit?usp=sharing">at this link</a>.</p>


  <h2>Long Form Code of Conduct</h2>
<p>LadyNerds is dedicated to providing a safe, inclusive, welcoming, and harassment-free space and experience for all
members and guests, regardless of gender identity and expression, sexual orientation, disability, physical appearance,
socioeconomic status, body size, ethnicity, nationality, level of experience, age, or religion (or lack thereof). Our
Code of Conduct exists because of that dedication. We do not tolerate harassment in any form.</p>
<p>This Code of Conduct applies to all LadyNerds spaces, including the LadyNerds Google Group, the LadyNerds Slack, and
LadyNerds events (for both members and their guests), online and off, as well as in one-on-one communications
pertaining to LadyNerds business. Members violating our Code of Conduct may be penalized or expelled at the discretion
of community moderators.</p>
  <p>Some LadyNerds spaces (such as specific Slack channels) may have additional rules in place, which are posted publicly
for participants. Participants are responsible for knowing and abiding by these rules. We invite all those who
participate in LadyNerds to help us create safe and positive community experiences.</p>
<p>Consequences for noncompliance with the COC may include a discussion with mediators, mediation with the member you may
have harmed, or as an absolute last resort, a ban from the community.</p>

  <h3>Behavior</h3>
  <p>Harassment includes:</p>
  <ul>
    <li>Discriminatory language and actions that reinforce social structures of domination related to gender, gender
      identity and expression, sexual orientation, disability, mental illness, neuro(a)typicality, physical appearance,
      body size, age, race, or religion.
    </li>
    <li>Trolling, insults, or personal attacks.</li>
    <li>Violent or personally objectifying material.</li>
    <li>Gratuitous or off-topic sexual images or behavior in spaces where they’re not appropriate.</li>
    <li>Unwelcome sexual attention.</li>
    <li>Physical contact and simulated physical contact (e.g., textual descriptions like “backrub”) without consent or
      after a request to stop.
    </li>
    <li>Violent language or threats of violence.</li>
    <li>Incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in
      self-harm.
    </li>
    <li>Unwelcome comments regarding a person’s lifestyle choices and practices, including those related to food,
      health, parenting, drugs, and employment.
    </li>
    <li>Deliberate misgendering or use of “dead” or rejected names.</li>
    <li>Pattern of inappropriate social contact, such as requesting/assuming unprofessional levels of intimacy with
      others.
    </li>
    <li>Continued one-on-one communication after requests to cease.</li>
    <li>Deliberate “outing” of any aspect of a person’s identity without their consent.</li>
    <li>Threatening to post or posting other people’s personally identifiable information without consent.</li>
    <li>Publication of non-harassing private communication without consent.</li>
    <li>Blogging, tweeting, or otherwise communicating with intent to harm someone’s reputation, i.e., “making an
      example” of a member.
    </li>
    <li>Intimidation, stalking, or following.</li>
    <li>Harassing or unwanted photography or recording, including logging online activity for harassment purposes.</li>
    <li>Sustained, uninvited disruption.</li>
    <li>Other conduct which could reasonably be considered inappropriate in a professional setting.</li>
    <li>Advocating for, or encouraging, any of the above behavior.</li>
  </ul>
  <p>LadyNerds prioritizes marginalized people’s safety over privileged people’s comfort. Our moderators will not act on
  complaints regarding:</p>

  <ul>
    <li>“Reverse”-isms, including “reverse racism,” “reverse sexism,” and “cisphobia.”</li>
    <li>Reasonable communication of boundaries, such as “leave me alone,” “go away,” or “I’m not discussing this with
      you.”
    </li>
    <li>Verbal communication in a tone you don’t find pleasant (try focusing on responding to the content or disengaging
      instead).
    </li>
    <li>Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions.</li>
  </ul>
  <p>Appropriate behavior contributes to the health, safety, and longevity of the LadyNerds community and includes:<p>
  <ul>
  <li>Participating in an authentic and empathetic way.</li>
  <li>Representing LadyNerds in a positive, professional way.</li>
  <li>Using welcoming and inclusive language.</li>
  <li>Exercising consideration and respect in your speech and actions.</li>
  <li>Refraining from demeaning, discriminatory, or harassing behavior and speech.</li>
  <li>Being mindful of your surroundings and of your fellow participants.</li>
  <li>Considering what is best for the community.</li>
  <li>Alerting community moderators if you notice a dangerous situation, someone in distress, or unresolved violations of</li>
  <li>this Code of Conduct.</li>
  <li>Refraining from doing something you wouldn’t do in another professional situation.</li>
  <li>Remembering that community event venues may be shared with members of the public; being respectful to all patrons of</li>
  <li>these locations.</li>
  <li>Keeping an open and curious mind without making assumptions about others.</li>
  <li>Attempting collaboration before conflict (see communication tools below).</li>
  <li>Gracefully accepting constructive criticism.</li>
    </ul>

  <h3>Enforcement</h3>
  <ul>
  <li>Members and participating guests asked to stop any harassing behavior are expected to comply immediately.</li>
  <li>If a participant violates the Code of Conduct, community moderators may take any action they deem appropriate to maintaining a welcoming environment for all participants, up to and including expulsion from an event and/or the community and identification of the participant as a violator. If a community moderator is not present at an event, the event organizer should ask violators to leave and then report the situation to community moderators for further deliberation.</li>
  <li>Community moderators and/or event organizers may take action to redress anything designed to, or with the clear impact of, disrupting or making an environment hostile for any participants.</li>
  <li>We expect participants to respect the Code of Conduct in all LadyNerds communities and at all LadyNerds or</li>
  <li>LadyNerds-related events.</li>
    </ul>

  <h3>Reporting</h3>
  <p>If you experience or witness (or have experienced or have witnessed) violations of the Code of Conduct or have any
  other concerns, please notify the <a href="https://docs.google.com/document/d/1_LFHN_oiIawIGYqBk6VRebCGEalyCifCGGknassgSZU/edit?usp=sharing">LadyNerds moderators identified in this document</a>, <a href="https://docs.google.com/forms/d/1KIsk89eJlp36lf9cpoL_n-qzDIEs5tDW578t1hcpAvE/edit?usp=sharing">and/or submit an online report</a>
  here.</p>
  <p>Code of Conduct violations can be reported by:</p>
  <ul>
  <li>Emailing the mods alias (as of March 28th, 2016, this is not yet set up).</li>
  <li>Contacting one of the moderators privately on Slack, via email, by text or phone call, or in person.</li>
  <li>Pinging moderators via Slackbot on Slack by typing, “moderator please.”</li>
  <li>Communicating with the event organizer (if you’re at an event—all events must come with contact information for an organizer).</li>
    </ul>
  <p>Anonymous reports can also be made by <a href="https://docs.google.com/forms/d/1KIsk89eJlp36lf9cpoL_n-qzDIEs5tDW578t1hcpAvE/edit?usp=sharing">filling out this form</a>. [As of 3/28 this only goes to Kai]</p>

  <p>Reports of Code of Conduct violations should include as many details as possible, for example:</p>
  <ul>
  <li>Contact info for the reporter (unless anonymous)</li>
  <li>Names or descriptions of people involved</li>
  <li>When and where it happened</li>
  <li>What happened</li>
  <li>Additional context</li>
  <li>If the problem is ongoing</li>
    </ul>

  <h3>Moderators</h3>
  <p>Moderators will:</p>
  <ul>
  <li>Always be at least two people.</li>
  <li>Work together to respond to violations.</li>
  <li>Respond as promptly as possible to reports of violations.</li>
  <li>Make an effort to understand both sides of the situation, including talking to affected members and reading up on the underlying issues, particularly if they don’t have similar personal experience(s).</li>
  <li>Keep each other accountable.</li>
  <li>Trade off duties when needed.</li>
  <li>Be kept up-to-date <a href="https://docs.google.com/document/d/1_LFHN_oiIawIGYqBk6VRebCGEalyCifCGGknassgSZU/edit?usp=sharing">in the LadyNerds Moderators document</a>.</li>
    </ul>
  <p>Please see the LadyNerds organization documents to learn more about moderators.</p>

  <h3>Additional Items</h3>
  <p>Please also note:</p>
  <ul>
  <li>If the person violating the Code of Conduct is a moderator, they will recuse themselves or be excused from handling the incident.</li>
  <li>Members are responsible for guests. If a guest's behavior violates the Code of Conduct, they could be asked to leave, and could be disallowed from participating in future LadyNerds events.</li>
  <li>Moderators can choose to close threads or ask for a subject change.</li>
  <li>Moderators can choose to re-evaluate consequences.</li>
  <li>Do not delete posts or comments you’ve made unless:</li>
  <ul>
    <li>You sincerely made the post in error (like accidentally posting in the wrong group, for example) and</li>
      <li>Deleting will not interfere with group discussion. Deleting because the conversation has become tense or uncomfortable or to avoid taking responsibility is the specific problem we want to address with this rule; many of us are socialized or naturally prone to avoid conflict, but working through that conflict and acknowledging differing viewpoints is worth the discomfort.</li>
  </ul>
  <li>This Code of Conduct applies to LadyNerds spaces and events, but if you are being or have been harassed by a LadyNerds member externally, you may still report to the LadyNerds moderators. We will take all good-faith reports of harassment by LadyNerds members seriously. The LadyNerds moderators reserve the right to exclude people from the LadyNerds community and/or LadyNerds events based on past and/or external behavior towards LadyNerds members or non-members.</li>
  <li>LadyNerds moderators may reject any report believed to have been made in bad faith. Reports intended to silence legitimate criticism may be deleted without response.</li>
<li>We will not name harassment victims without their consent. At our discretion, we may publicly name a person about whom we’ve received harassment complaints, or privately warn third parties about them, if we believe that doing so will increase the safety of LadyNerds members or the general public.</li>
  <li>Reports can be made at any time, but as soon as possible is preferred.</li>
  <li>Our promise: When taking a private report, our community moderators will ensure you are safe and cannot be overheard. They may involve other moderators to ensure your report is managed properly. Once safe, we'll ask you to tell us about what happened. This can be upsetting, but we'll handle it as respectfully as possible, and you can bring someone to support you. You won't be asked to confront anyone and we won't tell anyone who you are. Our team will be happy to help you contact venue security, local law enforcement, local support services, provide escorts, or otherwise assist you to feel safe. We value your participation. Once again, we invite all those who participate in LadyNerds to help us create safe and positive community experiences.</li>
</ul>
  <h3>Sources</h3>
  <p>“Conference anti-harassment/Policy”, <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy</a></p>
  <p>“Community anti-harassment/Policy”, <a href="http://geekfeminism.wikia.com/wiki/Community_anti-harassment/Policy">http://geekfeminism.wikia.com/wiki/Community_anti-harassment/Policy</a></p>
  <p>“HOWTO design a code of conduct for your community”, <a href="http://www.slideshare.net/aeschright/enforcing-your-code-of-conduct-effective-incident-response">http://www.slideshare.net/aeschright/enforcing-your-code-of-conduct-effective-incident-response</a></p>
  <p>“Code of conduct evaluations”, <a href="http://geekfeminism.wikia.com/wiki/Code_of_conduc">http://geekfeminism.wikia.com/wiki/Code_of_conduct</a></p>
  <p>“Citizen Code of Conduct”, <a href="http://citizencodeofconduct.org/">http://citizencodeofconduct.org/</a></p>
  <p>“WITchat Community Code of Conduct”, <a href="http://witchat.github.io/">http://witchat.github.io/</a></p>
  <p>“Contributor Covenant Code of Conduct”, <a href="http://contributor-covenant.org/">http://contributor-covenant.org/</a></p>
  <p>“Old LadyNerds Code of Conduct”, <a href="https://docs.google.com/document/d/19SqO1kRp7yLXnzZvw1UgSViIh9iVy4KQndgcdHCZHoY/edit?usp=sharing">https://docs.google.com/document/d/19SqO1kRp7yLXnzZvw1UgSViIh9iVy4KQndgcdHCZHoY/edit?usp=sharing</a></p>
  <p>Vox Media’s “Code of Conduct”, <a href="http://code-of-conduct.voxmedia.com/">http://code-of-conduct.voxmedia.com/</a></p>

{% endblock %}