{% extends "base.html" %}
{% block content %}
<div id="about-page">
    <h2>About</h2>
    <div id="intro">
        <p>
            <!-- FIXME: Around gender: not all of us are women, some of us may be men, figure out inclusive language -->
            Welcome to LadyNerds! We are a professional network of over two hundred women 
            in technology in the Bay Area and beyond. Our members are alumnae of the Hackbright 
            Academy fellowship in software engineering, although LadyNerds as an organization is 
            not affiliated with Hackbright.
        </p>
    </div>
    <div id="mission">
        <p>
            Our mission is to empower women in technology through continued career development, 
            enriching connections, and responsible representation.  We strive to be a community-driven 
            support system for those with the shared experience of completing Hackbright or otherwise 
            equivalent program.
        </p>
    </div>

    <div id="faq">
        <h2>Frequently Asked Questions</h2>
        <span class="question">
            I'm actively recruiting women and would like to hire some LadyNerds. How?
            I'm organizing a conference and reaching out for diverse speakers. How? 
        </span>
        
        <p>
            <!-- TODO: Answer question more thoroughly! -->
            Please contact us through the form below! LadyNerds consists of hundreds of engineers, 
            and can be found on Twitter and LinkedIn as well as this site.
        </p>

    </div>
</div>
{% endblock %}