{% extends "base.html" %}
{% block content %}

<div id="campers">
	<div class="toggleview" id="campertoggle"></div>
	<div class="campertable shown">
		<div class="camperheading"><h2 id="camper_heading hidden">All Bioluminauts</h2></div>
		<div class="tablewrap">
			<table class="gradienttable">
				<thead>
					<tr>
						<td><p>Photo</p></td>
						<td><p>Name</p></td>
						<td><p>City</p></td>
						<td><p>Season</p></td>
						<td><p>Contact info </p></td>
						<td><p>Current Position</p></td>
						<td><p>Company</p></td>
						<td><p>Past companies</p></td>
						<td><p>Languages</p></td>
						<td><p>Frameworks</p></td>
						<td><p>Looking for job?</p></td>
					</tr>
				</thead>
					{% for nerd in ladynerds %}
						<tr class="datarow">
							<td  class="profile_pic">{{nerd.picture}}</td>
							<td>{{nerd.user}}</td>
							<td>{{nerd.city}}</td>
							<td>{{nerd.year_graduated}}{{nerd.season_graduated}}</td> 
							<td>{{nerd.email}}
								{{nerd.twitter}}</td>
							<td>{{nerd.position}}{{nerd.position_other}}</td>
							<td>{{nerd.company}}{{nerd.past_companies}}</td>
							<td>{{nerd.languages}}</td>
							<td>{{nerd.frameworks}}</td>
							<td>{{nerd.looking_for_job}}</td>
						</tr>
					{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}