
{% extends "base.html" %}
{% block content %}

<h1>TWEETIING!!!</h1>

<!-- For some reason this still shows @BlackGirlNerds tweets instead of the ones
associated with the url given  -->

<a class="twitter-timeline" 
href="https://twitter.com/search?q=from%3Abeckastar%20OR%20from%3Amichelleglauser%20OR%20from%3Akwugirl%20OR%20from%3Aeleanorstrib%20OR%20from%3Abenzobot%20OR%20from%3Apinkyswearing%20OR%20from%3Akatrinamariehh%20OR%20from%3Ataygrave%20OR%20from%3Asarahfo%20OR%20from%3Asienatime%20OR%20from%3Akkschick%20OR%20from%3Aunicornalamode%20OR%20from%3Aroo_harrigan%20OR%20from%3AAlex_andra_P%20OR%20from%3Alaviniaclare%20OR%20from%3Akf%20OR%20from%3A_shiftseven%20OR%20from%3Ajchayes%20OR%20from%3Aluhrsaj%20include%3Aretweets&src=typd" 
data-widget-id="705069546588102656">Tweets</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock %}